header nav .bgk .nav2 .dummy {
    background-color: red;
    width: 15px; 
    height: 15px;
}
header {
    margin-bottom: 13px;
    position: relative;
    
}
header nav .nav1 li a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: 400;
    text-overflow: ellipsis;
    text-shadow: 7rem;
}
header nav h2 {
    margin: 7px;
    margin-left: 1rem;
}
header nav .nav1 li {
    list-style: none;
    margin-inline: 9px;
    margin-bottom: 5px;
}
header nav .nav1 {
    display: flex;
    align-self: center;
    margin-inline: 50px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    position: absolute;
    bottom: .9px;
    border-left: 3px black solid;
    border-right: 3px black solid;
    border-bottom: 3px black solid;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.burger {
    width: 30px;
    height: 30px;
    background-color: midnightblue;
    margin: 15px;
    display: none;
}
.bgk {
    position: fixed;
    top: 5%;
    right: 2%;
    background: #111;
    color: #fff;
    font-weight: 800;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    transform: translateX(150%);
    transition: transform 0.3s ease-in-out;
}
.bgk ul li {
    margin-top: 13px;
}
.nav2 {
    list-style: none;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 70px 10px 10vh 5px;
    padding-top: 100px;
}
main section {
    width: 50%;
}
main img {
    border-radius: 30px;
    width: 50%;
}

.about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 190px;
}
.about .sec1 {
    margin: 25px auto;
}
.about .sec2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3rem;
}
.about .sec2 .text, img{
    width: 50%;
    border-radius: 30px;
}

@media (max-width: 875px){
    .burger{
        display: block;
    }
    .listh{
        display: none;
    } 
    main {
        flex-direction: column;
        margin-inline: 25px;
    }
    main section {
        margin-bottom: 50px;
        width: 100%;
    }
    main img {
        margin: 10px auto;
        width: 100%;
    }
    .about {
        flex-direction: column;
        margin-inline: 25px;
    }
    .about .sec2 {
        flex-direction: column;
        margin: 10px auto;
        width: 100%;
    }
}